#! /usr/bin/env bash

for pkg in $(cat packages); do
	{{- if eq .chezmoi.osRelease.name "Void" -}}
	echo "Installing $pkg"
	local res=sudo xbps-install $pkg
	echo $res
	{{- else if eq .chezmoi.os "linux" -}}
	echo "different linux distro: {{ .chezmoi.osRelease.name }}"
	{{- end -}}
done
